<div class="min-h-screen flex flex-col relative overflow-hidden">

  <header class="bg-white border-b border-slate-200 h-16 flex items-center justify-between px-6 z-30">

    <div class="flex items-center gap-4">

      <div class="flex items-center gap-2">
        <div class="bg-indigo-600 p-1.5 rounded-lg">
          <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
        </div>
        <h1 class="font-bold text-slate-800 text-lg">NPS</h1>
      </div>
    </div>

    @if (authService.currentUser(); as user) {
      <div class="relative">

        <button
          (click)="toggleProfile()"
          class="flex items-center gap-3 p-1 rounded-full hover:bg-slate-50 transition-all focus:outline-none">

          <div class="text-right hidden sm:block">
            <p class="text-sm font-bold text-slate-900 leading-none">{{ user.username }}</p>
            <span class="text-[10px] uppercase tracking-wider font-bold text-slate-400">{{ user.roles[0] }}</span>
          </div>

          <div class="h-10 w-10 rounded-full bg-gradient-to-tr from-indigo-600 to-purple-500 flex items-center justify-center text-white font-bold shadow-md border-2 border-white">
            {{ user.username[0] | uppercase }}
          </div>
        </button>

        @if (isProfileOpen()) {
          <div class="fixed inset-0 z-10" (click)="isProfileOpen.set(false)"></div>

          <div class="absolute right-0 mt-2 w-56 bg-white rounded-2xl shadow-2xl border border-slate-100 py-2 z-20 animate-in fade-in zoom-in duration-200 origin-top-right">
            <div class="px-4 py-2 border-b border-slate-50 mb-1">
              <p class="text-[10px] text-slate-400 font-bold uppercase tracking-widest">Ajustes de cuenta</p>
            </div>

            <div class="border-t border-slate-50 mt-2 pt-2">
              <button (click)="logout(); closeMenus()" class="w-full flex items-center gap-3 px-4 py-2.5 text-sm text-red-500 hover:bg-red-50 transition-all">
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M17 16l4-4m0 0l-4-4m4 4H7" stroke-width="2"/></svg>
                Cerrar sesión
              </button>
            </div>
          </div>
        }
      </div>
    }
  </header>

  <main class="flex-1 bg-slate-50 p-6 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
</div>
